{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}

<div class="container-sm">
<br />
<h1>{{ post.title }}</h1>
<strong> By {{ post.author }} </strong>
<p> {{ post.body }} </p>
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-1">
        <a class="btn btn-primary" href="{% url 'post_edit' post.id %}">Edit</a>
    </div>
    <div class="col-md-1">
        <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
</div>
</div>
    {% endif %}
{% endblock content %}